{% extends 'base.html' %}
{% block title %}change password{% endblock %}
{%  block content %}
 <br><br><br><br>
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <h3 class="font-weight-light my-4 text-center">Change Your Password</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-success mt-3" id="reset">Update
                                            Password
                                        </button>
                                        <a href="{% url 'accounts:user_profile' %}" class="col-md-12 btn btn-outline-danger mt-3"
                                           id="reset">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}